* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:black;
}

#loading {
  color:antiquewhite;
  text-align: center;
}

.style {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

#home {
  text-align: center;
  margin-top: 200px;
}

#welcome {
  color: white;
  margin-left: -120px;
  margin-bottom: -20px;
}

#clubbi {
  color:darkred;
  font-weight: 900;
  font-size: 6em;
}

#info {
  color:lightgray;
}

#link {
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  height: 450px;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-right: 4%;
 
}

#films-card {
  border: 2px solid black;
  text-align: center;
  width: 400px;
  margin: 5px;
 background-color:crimson;
 border-radius: 20px;
}

#films-card:hover {
  background-color:rgb(212, 100, 123);
}

.films-image {
  width: 200px;
  height: 190px;
}

.div-input {
  text-align: center;
}

.description {
  overflow: auto;
  width: 380px;
  height: 100px;
  margin-left: 6px;
}

.form-control {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: lightgray;
}

.list {
  color:darkcyan;
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    text-align: center;
  }
}

@media only screen and (max-width: 300px) {
  body {
   width: 300px;
  }

  #films-card {
    text-align: center;
    width: 290px;
    margin: 5px;
    align-items: center;
  }

  .description {
    overflow: auto;
    width: 280px;
    height: 100px;
    margin-left: 6px;
  }
}
